[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggdark"]
	path = ggdark
	url = https://github.com/nsgrantham/ggdark
	shallow = true
	registered = true
